.modal-inputs {
     display: flex;
     flex-direction: column;
     width: 100%; 
     justify-content: space-between; 
     align-items: center; 
     gap: 15;
}

.inputs {
    border-radius: 5px;
}

.border-error {
    border-color: red;
}
